.inputWrap {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.inputLabel {
  line-height: 22px;
}

.inputInner {
  position: relative;
}

.input {
  width: 100%;
  padding: 12px 8px 12px 16px;
  font-size: 14px;
  color: var(--day);
  background-color: var(--morning);
  border-radius: 8px;
  border-color: transparent;
  outline: none;
}


.input::placeholder {
  font-size: 14px;
  color: var(--day);
}

.input:focus {
  border-color: var(--brand);
}

.button {
  display: block;
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translate(4px, -50%);
}
